@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}


.navbar.p-menubar {
  background-color: #2F007A !important;
  color: #ffffff !important;
  border-color: #2F007A !important;
}

.navbar .p-menubar-item-link,
.navbar .p-menuitem-text,
.navbar .p-menuitem-icon {
  color: #ffffff !important;
}

.navbar .p-menubar-root-list .p-menuitem:hover .p-menuitem-content,
.navbar .p-menubar-root-list .p-menuitem:hover .p-menuitem-link {
  background-color: #2F007A !important;
  color: #ffffff !important;
}

.navbar .p-menubar-root-list .p-menuitem:hover .p-menuitem-text,
.navbar .p-menubar-root-list .p-menuitem:hover .p-menuitem-icon {
  color: #ffffff !important;
}

.icono {
  color: #ffffff !important;
}

.navbar .p-menubar-button,
.navbar .p-menubar-button:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.p-button.button-color,
.p-button.button-color:enabled:hover {
  background-color: #2F007A !important;
  border-color: #2F007A !important;
  color: #ffffff !important;
}

@media screen and (max-width: 960px) {
  .navbar.p-menubar .p-menubar-root-list {
    background-color: #ffffff !important;
  }

  .navbar.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content,
  .navbar.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    background-color:  #ffffff !important;
    color: #713BB4 !important;
  }

  .navbar.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-text,
  .navbar.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-icon {
    color: #713BB4 !important;
  }
}

